<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.navigator.dao.IRouteDao">

    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into routes(distance) values(#{distance})
    </insert>

    <select id="findById" resultMap="RouteResultMap">
        select r.id as route_id, r.distance as route_distance, p.id as point_id, p.city as point_city, p.indx as
        point_index from routes r left join route_points rp on r.id = rp.route_id left join points on rp.point_id = p.id
        where r.id = #{id}
    </select>

    <select id="findAll" resultMap="RouteResultMap">
        select r.id as route_id, r.distance as route_distance, p.id as point_id, p.city as point_city, p.indx as
        point_index from routes r left join route_points rp on r.id = rp.route_id left join points p on rp.point_id = p.id
    </select>

    <delete id="delete">
        delete from routes where id = #{id}
    </delete>

    <insert id="insertRoutePoints" useGeneratedKeys="true">
        insert into route_points(route_id, point_id) values(#{route.id},#{point.id})
    </insert>

    <resultMap id="RouteResultMap" type="com.solvd.navigator.domain.Route" autoMapping="false">
        <id property="id" column="route_id"/>
        <result property="distance" column="route_distance"/>
        <collection property="routePoints" resultMap="com.solvd.navigator.dao.IPointDao.PointResultMap"/>
    </resultMap>

</mapper>